Fluxo JSON Node-red.txt
[
    {
        "id": "mqtt_floodian_tab",
        "type": "tab",
        "label": "Floodian MQTT Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "mqtt_floodian_tab",
        "name": "MQTT Floodian",
        "topic": "floodian/sensor01",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["process_function", "debug"]]
    },
    {
        "id": "process_function",
        "type": "function",
        "z": "mqtt_floodian_tab",
        "name": "Processar Dados",
        "func": "msg.payload = {\n    nivel: msg.payload.nivel_agua_cm,\n    risco: msg.payload.risco\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 100,
        "wires": [["gauge", "risk_text"]]
    },
    {
        "id": "gauge",
        "type": "ui_gauge",
        "z": "mqtt_floodian_tab",
        "name": "Nível da Água (cm)",
        "group": "dashboard_group",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nível da Água (cm)",
        "label": "cm",
        "format": "{{msg.payload.nivel}}",
        "min": 0,
        "max": 500,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": 0,
        "seg2": 300,
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "risk_text",
        "type": "ui_text",
        "z": "mqtt_floodian_tab",
        "group": "dashboard_group",
        "order": 2,
        "width": 6,
        "height": "1",
        "name": "Risco Atual",
        "label": "Risco Atual",
        "format": "{{msg.payload.risco}}",
        "layout": "row-spread",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug",
        "type": "debug",
        "z": "mqtt_floodian_tab",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Public Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "z": "",
        "name": "Monitoramento",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Floodian",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]

